.slider{
  height: 484px  !important;
  /* z-index: -1; */
}

/* .carousel-fixed{
    position: absolute;
    margin-top: -200px;
  } */

  /* .carousel-fixed input{
    width: 140%;
    margin-left: 26em;
    height: 3em;
    border: none;
    outline: none;
    border-radius: 5px;
    background:white;
    color: black;
    text-indent: 10px
  } */


